body{
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
section{
    padding: 0 15%;
}
ul li{
    list-style-type: none;
    padding: 0 10px;
}
ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
h1{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}
/* Navbar */
#header{
    background-color: #1F2937;
    margin:0;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}
.navbar,ul{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.navbar{
    padding: 1rem 0;
}

/* Hero section */
.hero-container{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 5rem;
    flex:1;
}
img{
    background-color: #e5e7eb;
    width:1000px;
}
#header p{
    color:#e5e7eb;
    margin-top: -1rem;
}
#header button{
    background-color: #3882f6;
    width:120px;
    height:40px;
    border: none;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 700;
}

/* Information section */
#information h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
#information p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3rem;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width:120px;
    text-align: center;
}
.box{
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

/* Testimonial section */
#testimonial{
    background-color: #e5e7eb;
    margin-bottom: 3rem;
}
#testimonial h5{
    margin-top: -10px;
    align-self: flex-end;
}
#testimonial p{
    font-style: italic;
}
.test-content{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/* Call-to-action section */
#call-to-action{
    margin-bottom: 3rem;
}
.cta-container{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 15px 120px;
    border-radius: 5px;
    align-items: center;
}
#call-to-action button{
    background-color: #3882f6;
    width:120px;
    height:40px;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 700;
}

#footer{
    text-align: center;
    background-color: #1F2937;
    padding: 1rem 0;
    color: #f9faf8;
}